{% extends 'base.html.twig' %}

{% block title %} {{ controller_name }} {% endblock %}

{% block body %}
<h1>Inscription à la Newsletter</h1>
<p>Restez en contact avec les dernières nouvelles du site en vous inscrivant à notre Newsletter !</p>
{{ form_start(formulaireAfficher) }}
    {{ form_row(formulaireAfficher.prenom, {'attr' : {'placeholder' : 'Entrez votre prénom...'}}) }}
    {{ form_row(formulaireAfficher.nom, {'attr' : {'placeholder' : 'Entrez votre nom...'}}) }}
    {{ form_row(formulaireAfficher.mail, {'attr' : {'placeholder' : 'Entrez votre adresse mail...'}}) }}
    {{ form_row(formulaireAfficher.inscription) }}
{{ form_end(formulaireAfficher, {render_rest : false}) }}
{% endblock %}