{% extends 'base.html.twig' %}

{% block title %}ADMINISTRATION : Liste des Articles{% endblock %}

{% block body %}
    <h1>Liste des Articles</h1>

    <table class="table">
        <thead>
            <tr>
                <th>N° Identifiant</th>
                <th>Image</th>
                <th>Titre</th>
                <th>Prix</th>
                <th>Résumé</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td><img class="w-50" src="{{ asset('uploads/' ~ article.image) }}" alt=""></td>
                <td>{{ article.titre }}</td>
                <td>{{ article.prix }}</td>
                <td>{{ article.resume }}</td>
                <td>
                    <a href="{{ path('admin_article_show', {'id': article.id}) }}">Afficher</a>
                    <a href="{{ path('admin_article_edit', {'id': article.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucune entrée trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_article_new') }}">Nouvel Article</a>
{% endblock %}