{% extends 'base.html.twig' %}

{% block title %}ZEUS EX MACHINA : {{ article.id }}{% endblock %}

{% block body %}
    <h1>{{ article.titre }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ article.titre }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ article.prix }}</td>
            </tr>
            <tr>
                <th>Résumé</th>
                <td>{{ article.resume }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td><img class="w-50" src= "{{ asset('uploads/' ~ article.image) }}" ></td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('article_catalog_index') }}">Retour à la liste</a>
{% endblock %}