{% extends 'base.html.twig' %}

{% block title %}ZEUS EX MACHINA : {{ article.titre }}{% endblock %}

{% block body %}
    <h1>{{ article.titre }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ article.titre }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ article.prix }}</td>
            </tr>
            <tr>
                <th>Résumé</th>
                <td>{{ article.resume }}</td>
            </tr>
            <tr>
                <th>Couverture</th>
                <td><img class="w-50" src= "{{ asset('uploads/' ~ article.image) }}"></td>
            </tr>
            {% for pages in article %}
            <tr>
                <th>Pages</th>
                <td>
                    <img class="w-25" src="{{ asset('uploads/' ~ page.image) }}" alt="">
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="6">Aucune entrée trouvée</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="{{ path('article_catalog_index') }}">Retour à la liste</a>
{% endblock %}