{% extends 'base.html.twig' %}

{% block title %}ADMINISTRATION : Liste des Catégories d'Article{% endblock %}

{% block body %}
    <h1>Liste des Catégories d'Article</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Fiche n°d</th>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie_article in categorie_articles %}
            <tr>
                <td>{{ categorie_article.id }}</td>
                <td>{{ categorie_article.nom }}</td>
                <td>
                    <a href="{{ path('admin_categoriearticle_show', {'id': categorie_article.id}) }}">Afficher</a>
                    <a href="{{ path('admin_categoriearticle_edit', {'id': categorie_article.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucune entrée trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_categoriearticle_new') }}">Nouvelle Catégorie</a>
{% endblock %}