{% extends 'base.html.twig' %}

{% block title %}ZEUS EX MACHINA : Liste des Catégories de Personnage{% endblock %}

{% block body %}
    <h1>Liste des Catégories de Personnage</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Fiche n°</th>
                <th>Nom</th>
                <th>Présentation</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie_personnage in categorie_personnages %}
            <tr>
                <td>{{ categorie_personnage.id }}</td>
                <td>{{ categorie_personnage.nom }}</td>
                <td>{{ categorie_personnage.presentation }}</td>
                <td><img src="{{ asset('uploads/' ~ categorie_personnage.image) }}" alt=""></td>
                <td>
                    <a href="{{ path('categorie_catalog_show', {'id': categorie_personnage.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucune entrée trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}