{% extends 'base.html.twig' %}

{% block title %}ZEUS EX MACHINA : {{ categorie_personnage.nom }}{% endblock %}

{% block body %}
    <h1>{{ categorie_personnage.nom }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Fiche n°</th>
                <td>{{ categorie_personnage.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ categorie_personnage.nom }}</td>
            </tr>
            <tr>
                <th>Présentation</th>
                <td>{{ categorie_personnage.presentation }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td><img class="w-50" src= "{{ asset('uploads/' ~ categorie_personnage.image) }}" ></td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('categorie_catalog_index') }}">Retour à la liste</a>
{% endblock %}