{% extends 'base.html.twig' %}

{% block title %}ADMINISTRATION : Liste des Légendes{% endblock %}

{% block body %}
    <h1>Liste des Légendes</h1>

    <table class="table">
        <thead>
            <tr>
                <th>N° Identifiant</th>
                <th>Image</th>
                <th>Titre</th>
                <th>Résumé</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for legende in legendes %}
            <tr>
                <td>{{ legende.id }}</td>
                <td><img class="w100" src="{{ asset('uploads/' ~ legende.image) }}" alt=""></td>
                <td>{{ legende.titre }}</td>
                <td>{{ legende.resume }}</td>
                <td>
                    <a href="{{ path('admin_legende_show', {'id': legende.id}) }}">Afficher</a>
                    <a href="{{ path('admin_legende_edit', {'id': legende.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucune entrée trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_legende_new') }}">Nouvelle Légende</a>
{% endblock %}