{% extends 'base.html.twig' %}

{% block title %}Legende{% endblock %}

{% block body %}
    <h1>Legende</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ legende.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ legende.titre }}</td>
            </tr>
            <tr>
                <th>Resume</th>
                <td>{{ legende.resume }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ legende.image }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_legende_index') }}">back to list</a>

    <a href="{{ path('admin_legende_edit', {'id': legende.id}) }}">edit</a>

    {{ include('admin_legende/_delete_form.html.twig') }}
{% endblock %}
