{% extends 'base.html.twig' %}

{% block title %}ADMINISTRATION : Liste des pages{% endblock %}

{% block body %}
    <h1>Liste des pages</h1>

    <table class="table">
        <thead>
            <tr>
                <th>N° Identifiant</th>
                <th>Image</th>
                <th>Numéro de page</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for page in pages %}
            <tr>
                <td>{{ page.id }}</td>
                <td><img class="w100" src="{{ asset('uploads/' ~ page.image) }}" alt=""></td>
                <td>{{ page.numero }}</td>
                <td>
                    <a href="{{ path('admin_page_show', {'id': page.id}) }}">Afficher</a>
                    <a href="{{ path('admin_page_edit', {'id': page.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucune entrée trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_page_new') }}">Créer nouvelle page</a>
{% endblock %}