{% extends 'base.html.twig' %}

{% block title %}ZEUS EX MACHINA : {{ auteur.nom }}{% endblock %}

{% block body %}
    <h1>{{ auteur.nom }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Fiche n°</th>
                <td>{{ auteur.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ auteur.nom }}</td>
            </tr>
            <tr>
                <th>Présentation</th>
                <td>{{ auteur.presentation }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td><img class="w-50" src= "{{ asset('uploads/' ~ auteur.image) }}" ></td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('auteur_catalog_index') }}">Retour à la liste</a>
{% endblock %}