{% extends 'base.html.twig' %}

{% block title %}ADMINISTRATION : Liste des auteurs{% endblock %}

{% block body %}
    <h1>Liste des auteurs</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Image</th>
                <th>Nom</th>
                <th>Présentation</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for auteur in auteurs %}
            <tr>
                <td>{{ auteur.id }}</td>
                <td><img class="w100" src="{{ asset('uploads/' ~ auteur.image) }}" alt=""></td>
                <td>{{ auteur.nom }}</td>
                <td>{{ auteur.presentation }}</td>
                <td>{{ auteur.image }}</td>
                <td>
                    <a href="{{ path('admin_auteur_show', {'id': auteur.id}) }}">Afficher</a>
                    <a href="{{ path('admin_auteur_edit', {'id': auteur.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucune entrée trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_auteur_new') }}">Créer nouvel auteur</a>
{% endblock %}