{% extends 'base.html.twig' %}

{% block title %}ADMINISTRATION : Auteur{% endblock %}

{% block body %}
    <h1>{{ auteur.nom }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Fiche n°</th>
                <td>{{ auteur.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ auteur.nom }}</td>
            </tr>
            <tr>
                <th>Présentation</th>
                <td>{{ auteur.presentation }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ auteur.image }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_auteur_index') }}">Retour à la liste</a>

    <a href="{{ path('admin_auteur_edit', {'id': auteur.id}) }}">Modifier</a>

    {{ include('admin_auteur/_delete_form.html.twig') }}
{% endblock %}